template(name='apiPlayground')
	img(src="#{currentUser.services.google.picture}")
	if currentUser
		p #{currentUser.services.google.given_name}
		button#logout Logout
	else
		button#google-login Login with Google
	button#connectionTestButton DDP Connection Test
	br
	input#schoolName(placeholder='School name')
	button#setSchoolNameButton Set School 
	br
	button#getCalendarListButton Get Calendar List
	br
	input#calendarId(placeholder='Calendar ID')
	button#initCalendarButton Init Calendar
	button#syncCalendarButton Sync Calendar
	br
	a(href="{{pathFor 'calendars'}}", target='_blank') List Calendars
	br
	a(href="{{pathFor 'events'}}", target='_blank') List Events
	//- button#watchCalendarButton Watch Calendar
	//- button#stopWatchCalendarButton Stop Watch Calendar
	