template(name='eventsFeeds')
	h1 Events feed to user
	each events
		h2 {{summary}}
		p {{id}}
		p {{description}}
		p {{visibility}}
		p {{start}}
		p {{end}}
	h1 Event owners
	each users
		h2 {{name}}
		p {{userId}}
		img(src='{{picture}}')
